.search {
    grid-area: search;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    width: 75%;
}

.input {
    border: none;
    height: 2rem;
    text-indent: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #f9f9f9de;
}

.formSubmit {

}