.header {
    grid-area: header;
    background-color: #C8E2D5;

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 4rem;
    grid-template-areas: "logo search .";

    box-shadow: 0px 10px 50px #B5D1C3;


}

.search {
    grid-area: search;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.form {
    width: 90%;
}

.input {
    border: none;
    height: 2rem;
    text-indent: 0.5rem;
    width: 80%;
    border-radius: 0.5rem;
    background-color: #f9f9f9de;
}

.logo {
    grid-area: logo;
    display: flex;
    height: 70%;
    width: 12rem;
    align-self: center;
    align-items: center;
    justify-self: center;

}

.logo span {
    font-size: 1.2rem;
    font-weight: 600;
}

.outerSpan {
    margin-left: 0.5rem;
}

.innerSpan {
    color: #4D7939;
}

.logoPepe {
    height: 100%;
    width: auto;
    object-fit: contain;

    margin-left: 1rem;
}

@media only screen and (max-width: 1200px) {
    .input {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 8rem;
    }

    .outerSpan {
        display: none;
    }

    .innerSpan {
        color: black;
    }
}

@media only screen and (max-width: 460px) {
    .logo {
        width: 4rem;
    }
    .innerSpan {
        display: none;
    }
}