.header {
    grid-area: header;
    background-color: #C8E2D5;

    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 4rem;
    grid-template-areas: "logo search filter";

    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);


}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

.logo {
    grid-area: logo;
    display: flex;
    height: 70%;
    width: 12rem;
    align-self: center;
    align-items: center;
    justify-self: center;

}

.logo span {
    font-size: 1.2rem;
    font-weight: 600;
}

.outerSpan {
    margin-left: 0.5rem;
}

.innerSpan {
    color: #4D7939;
}

.logoPepe {
    height: 100%;
    width: auto;
    object-fit: contain;

    margin-left: 1rem;
}

.filter {
    grid-area: filter;

    display: flex;
    align-items: center;
}

.filterButton {
    border: none;
    background-color: #F6FBF9;
    border-radius: 0.5rem;
    margin: 0.2rem; 
}

button:hover {
    background-color: #E8F3ED;
}

@media only screen and (max-width: 1200px) {
    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 8rem;
    }

    .outerSpan {
        display: none;
    }

    .innerSpan {
        color: black;
    }
}

@media only screen and (max-width: 460px) {
    .logo {
        width: 4rem;
    }
    .innerSpan {
        display: none;
    }
}